:root {
	--h1Size: 90px;
	--h2Size: 72px;
	--h3Size: 55px;
	--h4Size: 40px;
	--h5Size: 23px;
	--h6Size: 22px;
	--pSize: 25px;
	--spanSize: 18px;

	--thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;


	--f1: #ffffff;
    --f2: #000000;
    --primary: #5500FF;
    --sec1: #FF00A2;
    --sec2:  #11EAB5;
    --gray: #E6E6E6;
}

html
{
	scroll-behavior:smooth;
	font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

body,html
{
	margin:0;
	padding:0
}

div,span,object,input,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,figure,figcaption,footer,header,nav,section,audio,video
{
	margin:0;
	padding:0;
	position:relative;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border:none
}

picture
{
	width:100%;
	height:100%
}

#main
{
	width:100%;
	max-width:2000px;
	overflow:hidden;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-flow:column;
	flex-flow:column;
	margin:0 auto
}

.block
{
	display:block
}

.flex
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex
}

.grid
{
	display:-ms-grid;
	display:grid
}

amp-img.contain img
{
	-o-object-fit:contain;
	object-fit:contain
}

amp-img.cover img
{
	-o-object-fit:cover;
	object-fit:cover
}

nav ol,nav ul
{
	list-style:none;
	padding:0
}

table
{
	border-collapse:collapse
}

textarea
{
	resize:vertical
}

button,input,select,textarea
{
	background-color:transparent;
	border:1px solid WindowFrame;
	color:inherit;
	font:inherit;
	letter-spacing:inherit;
	padding:.25em .375em
}

a
{
	text-decoration:none;
	display:block;
	cursor:pointer;
	pointer-events:all;
	font-family:'Roboto',sans-serif
}

h1
{
	font-size:var(--h1Size);
	display:block;
	font-family:"MargemTest-XBold";
	color:var(--f2);
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

h2
{
	font-size:var(--h2Size);
	display:block;
	font-family:"MargemTest-XBold";
	color:var(--f2);
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

h3
{
	font-size:var(--h3Size);
	display:block;
	font-family:"MargemTest-XBold";
	color:var(--f2);
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

h4
{
	font-size:var(--h4Size);
	display:block;
	font-family:"MargemTest-XBold";
	color:var(--f2);
	font-weight:var(--bold);
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

h5
{
	font-size:var(--h5Size);
	display:block;
	font-family:"MargemTest-XBold";
	color:var(--f2);
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

h6
{
	font-size:var(--h6Size);
	display:block;
	font-family:"MargemTest-XBold";
	color:var(--f2);
	font-weight:var(--semi-bold);
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

input
{
	font-size:var(--h6Size);
	display:block;
	color:var(--f2);
	font-family:'Roboto',sans-serif;
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

p
{
	font-size:var(--pSize);
	display:block;
	color:var(--f2);
	font-family:"MargemTest-Regular";
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on;
	line-height:1.39
}

span
{
	font-size:var(--spanSize);
	display:block;
	color:var(--f2);
	font-family:"MargemTest-Light";
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on
}

svg
{
	display:block;
	pointer-events:none;
	position:relative
}

a:link
{
	color:var(--primaryColor)
}

a:visited
{
	color:var(--primaryColor)
}

a:active
{
	color:var(--primaryColor)
}

::-webkit-input-placeholder
{
	color:var(--primaryColor);
	font-weight:var(--medium);
	font-family:'Roboto',sans-serif;
	font-size:var(--h6Size)
}

::-moz-placeholder
{
	color:var(--primaryColor);
	font-weight:var(--medium);
	font-family:'Roboto',sans-serif;
	font-size:var(--h6Size)
}

:-ms-input-placeholder
{
	color:var(--primaryColor);
	font-weight:var(--medium);
	font-family:'Roboto',sans-serif;
	font-size:var(--h6Size)
}

::-ms-input-placeholder
{
	color:var(--primaryColor);
	font-weight:var(--medium);
	font-family:'Roboto',sans-serif;
	font-size:var(--h6Size)
}

::placeholder
{
	color:var(--primaryColor);
	font-weight:var(--medium);
	font-family:'Roboto',sans-serif;
	font-size:var(--h6Size)
}

:-ms-input-placeholder
{
	color:var(--primaryColor);
	font-weight:var(--medium);
	font-family:'Roboto',sans-serif;
	font-size:var(--h6Size)
}

::-ms-input-placeholder
{
	color:var(--primaryColor);
	font-weight:var(--medium);
	font-family:'Roboto',sans-serif;
	font-size:var(--h6Size)
}

code,kbd,pre,samp
{
	font-family:Menlo,Consolas,Roboto Mono,Ubuntu Monospace,Noto Mono,Oxygen Mono,Liberation Mono,monospace
}

::-moz-selection
{
	background:var(--primary);
	color:var(--f1)
}

::selection
{
	background:var(--primary);
	color:var(--f1)
}

::-moz-selection
{
	background:var(--primary);
	color:var(--f1)
}

select
{
	-moz-appearance:none;
	-webkit-appearance:none;
	background:no-repeat right center / 1em;
	border-radius:0;
	padding-right:1em
}

select:not([multiple]):not([size])
{
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E")
}

::-ms-expand
{
	display:none
}

a,area,button,input,label,select,summary,textarea,[tabindex]
{
	-ms-touch-action:manipulation;
	touch-action:manipulation
}

@-webkit-keyframes ioio {
	50%
	{
		-webkit-transform:rotate(2turn);
		transform:rotate(2turn)
	}
}

@keyframes ioio {
	50%
	{
		-webkit-transform:rotate(2turn);
		transform:rotate(2turn)
	}
}